EXCEL_DATA=/app/demo/Тестирование_1.xlsx
PROGRAM_SCRIPT=/app/Program.py
FOLDER_TEST=/app/testing_sets/test_1
MAIN_REPO_PATH=PATH
MAX_WORKERS=4
PROCESSING_MODE=parallel
SELECTED_SERVER=server1
AUTHORIZED_TOKEN=8DWQLfproEJlyC8dJaLqRhBx1B2sJyZR4V
